# Just some things I got tired of typing over and over again

# Recursive dp
snippet dp "Recursive dp"
$1 mem$4;
int done$4, timer;

#define state $3 
${1:int} dp($2) {
	$0	

	$1 &ans = mem state;

	if (done state == timer)
		return ans;

	done state = timer;
	ans = $5;

	return ans;
}

++timer;
endsnippet

snippet #if "Local flag"
#ifdef LOCAL
$1
#endif

endsnippet

